<div class="relative flex justify-center py-2">
  <%= render Kanban::ItemCounterComponent.new(wip_limit: @step.wip_limit) %>
  <%= tag.div class: %w(absolute right-3) do %>
    <%= link_to work_flow_path(@work_flow, step_id: @step.id) do %>
      <%= render Ui::IconComponent.new(name: :cog, size: 1, class: %w(rounded-full border border-gray-200 p-1 text-gray-400 hover:text-white hover:bg-gray-400 hover-transition)) %>
    <% end -%>
  <% end -%>
</div>
<%= tag.div class: %w(flex h-[2rem]) do %>
  <%= tag.div class: %w(w-full) do %>
    <%= tag.h3 @step.name, class: %w(text-center font-bold leading-tight text-sm) %>

    <% if state_names.any? %>
      <%= tag.div class: %w(flex flex-row justify-around) do %>
        <% state_names.each do |st| %>
          <%= tag.h4 st, class: %w(text-sm font-bold leading-none text-sm) %>
        <% end %>
      <% end -%>
    <% end -%>

  <% end -%>
<% end -%>
