<div class="mt-10 px-8">
  <div class="w-full overflow-x-auto">
    <div style="height:92vh">
      <div class="flex flex-row gap-2">
        <div data-comp="column" class="basis-64 flex-shrink-0">
          <div class="flex justify-center">
            <h3 class="text-lg font-bold">
              Todo
            </h3>
          </div>
          <div class="flex flex-col gap-2">
            <%= render partial: 'pages/pull_action' %>
            <%= render partial: 'pages/card', locals: { content: '[UI prototype] Check to done' } %>
            <%= render partial: 'pages/card', locals: { content: '[UI prototype] Backlog' } %>
          </div>
        </div>
        <div data-comp="column" class="basis-64 flex-shrink-0">
          <div class="flex justify-center">
            <h3 class="text-lg font-bold">
              Analyze
            </h3>
          </div>
          <div class="flex flex-col gap-2">
            <%= render partial: 'pages/pull_action' %>
            <%= render partial: 'pages/card', locals: { content: '[UI prototype] Item with tasks' } %>
            <%= render partial: 'pages/card', locals: { content: '[UI prototype] Pull items' } %>
          </div>
        </div>
        <div data-comp="column" class="basis-64 flex-shrink-0">
          <div class="flex justify-center">
            <h3 class="text-lg font-bold">
              Develop
            </h3>
          </div>
          <div class="flex flex-col gap-2">
            <%= render partial: 'pages/pull_action' %>
            <%= render partial: 'pages/card', locals: { content: '[UI prototype] Board' } %>
          </div>
        </div>
        <div data-comp="column" class="basis-64 flex-shrink-0">
          <div class="flex justify-center">
            <h3 class="text-lg font-bold">
              QA
            </h3>
          </div>
          <div class="flex flex-col gap-2">
            <%= render partial: 'pages/pull_action' %>
          </div>
        </div>
        <div data-comp="column" class="basis-64 flex-shrink-0">
          <div class="flex justify-center">
            <h3 class="text-lg font-bold">
              Release
            </h3>
          </div>
          <div class="flex flex-col gap-2">
            <%= render partial: 'pages/pull_action' %>
          </div>
        </div>
        <div data-comp="column" class="basis-64 flex-shrink-0">
          <div class="flex justify-center">
            <h3 class="text-lg font-bold">
              Done
            </h3>
          </div>
          <div class="flex flex-col gap-2">
            <%= render partial: 'pages/pull_action' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
