<div class="mt-10 px-8">
  <div class="w-full overflow-x-auto">
    <div style="height:92vh">
      <div class="flex flex-row gap-2">
        <div data-comp="column" class="basis-64 flex-shrink-0">
          <div class="pb-2 bg-zinc-200 rounded-lg">
            <%= render partial: 'pages/header', locals: { title: 'Idea' } %>
            <div class="flex flex-col gap-2 px-2">
              <%= render partial: 'pages/card', locals: { content: '[UI prototype] Check to done' } %>
              <%= render partial: 'pages/card', locals: { content: '[UI prototype] Backlog' } %>
              <%= render partial: 'pages/card', locals: { content: '[UI prototype] Cycle time' } %>
              <%= render partial: 'pages/card', locals: { content: '[UI prototype] Lead time' } %>
            </div>
          </div>
        </div>
        <div data-comp="column" class="basis-64 flex-shrink-0">
          <div class="pb-2 bg-zinc-200 rounded-lg">
            <%= render partial: 'pages/header', locals: { title: 'Analyze' } %>
            <div class="flex flex-col gap-2 px-2">
              <%= render partial: 'pages/card', locals: { content: '[UI prototype] Item with tasks' } %>
              <%= render partial: 'pages/card', locals: { content: '[UI prototype] Move items' } %>
            </div>
          </div>
        </div>
        <div data-comp="column" class="basis-64 flex-shrink-0">
          <div class="pb-2 bg-zinc-200 rounded-lg">
            <%= render partial: 'pages/header', locals: { title: 'Develop' } %>
            <div class="flex flex-col gap-2 px-2">
              <%= render partial: 'pages/card', locals: { content: '[UI prototype] Board' } %>
            </div>
            <%= render partial: 'pages/header', locals: { title: 'Ready', sub: true } %>
            <div class="flex flex-col gap-2 px-2">
              <%= render partial: 'pages/card', locals: { content: '[UI prototype] Board buffer' } %>
              <%= render partial: 'pages/card', locals: { content: '[UI prototype] Board column' } %>
            </div>
          </div>
        </div>
        <div data-comp="column" class="basis-64 flex-shrink-0">
          <div class="pb-2 bg-zinc-200 rounded-lg">
            <%= render partial: 'pages/header', locals: { title: 'QA' } %>
            <div class="flex flex-col gap-2 px-2">
            </div>
            <%= render partial: 'pages/header', locals: { title: 'Ready', sub: true } %>
            <div class="flex flex-col gap-2 px-2">
              <%= render partial: 'pages/card', locals: { content: '[UI prototype] Index page' } %>
              <%= render partial: 'pages/card', locals: { content: '[UI prototype] Individual pages' } %>
            </div>
          </div>
        </div>
        <div data-comp="column" class="basis-64 flex-shrink-0">
          <div class="pb-2 bg-zinc-200 rounded-lg">
            <%= render partial: 'pages/header', locals: { title: 'Release' } %>
            <div class="flex flex-col gap-2 px-2">
              <%= render partial: 'pages/card', locals: { content: '[Setup] db' } %>
            </div>
            <%= render partial: 'pages/header', locals: { title: 'Ready', sub: true } %>
            <div class="flex flex-col gap-2 px-2">
              <%= render partial: 'pages/card', locals: { content: '[Setup] repository' } %>
            </div>
          </div>
        </div>
        <div data-comp="column" class="basis-64 flex-shrink-0">
          <div class="pb-2 bg-zinc-200 rounded-lg">
            <%= render partial: 'pages/header', locals: { title: 'Production' } %>
            <div class="flex flex-col gap-2 px-2">
              <%= render partial: 'pages/card', locals: { content: '[Setup] git' } %>
              <%= render partial: 'pages/card', locals: { content: '[Setup] rails' } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
