<div class="mt-10 px-8">
  <div class="w-full overflow-x-auto">
    <div style="height:92vh">
      <div class="flex flex-row gap-2">
        <%= render Board::ColumnComponent.new(name: 'Idea', items: { count: 3 }) do %>
          <%= render CardComponent.new(kind: :idea, body: '[UI prototype] Cycle time') %>
          <%= render CardComponent.new(kind: :idea, body: '[UI prototype] Lead time') %>
          <%= render CardComponent.new(kind: :idea, body: '[UI prototype] Add item') %>
        <% end -%>
        <%= render Board::ColumnComponent.new(name: 'Analyze', items: { count: 1, limit: 5 }) do %>
          <%= render CardComponent.new(kind: :idea, body: '[UI prototype] Backlog') %>
        <% end -%>
        <%= render Board::ColumnComponent.new(name: 'Next 10', items: { count: 3, limit: 10 }) do %>
          <%= render CardComponent.new(kind: :item, body: '[UI prototype] Item with tasks') %>
          <%= render CardComponent.new(kind: :item, body: '[UI prototype] Move items') %>
          <%= render CardComponent.new(kind: :item, body: '[UI prototype] Check to done') %>
        <% end -%>
        <%= render Board::ColumnComponent.new(name: 'Develop', items: { count: 3, limit: 8 }, column_count: 2) do %>
          <%= render Board::InnerColumnComponent.new(name: 'WIP') do %>
            <%= render CardComponent.new(kind: :tech, body: 'Board (use ViewComponent)') %>
          <% end -%>
          <%= render Board::InnerColumnComponent.new(name: 'Done') do %>
            <%= render CardComponent.new(kind: :item, body: '[UI prototype] Board buffer') %>
            <%= render CardComponent.new(kind: :item, body: '[UI prototype] Board column') %>
          <% end -%>
        <% end -%>
        <%= render Board::ColumnComponent.new(name: 'QA', items: { count: 4, limit: 5 } ,column_count: 2) do %>
          <%= render Board::InnerColumnComponent.new(name: 'WIP') do %>
            <%= render CardComponent.new(kind: :item, body: '[UI prototype] Index page') %>
            <%= render CardComponent.new(kind: :rework, body: '[UI prototype] Individual pages') %>
            <%= render CardComponent.new(kind: :other, body: '[Setup] DB') %>
            <%= render CardComponent.new(kind: :other, body: '[Setup] Repository') %>
          <% end -%>
          <%= render Board::InnerColumnComponent.new(name: 'Done') do %>
          <% end -%>
        <% end -%>
        <%= render Board::ColumnComponent.new(name: 'Release', items: { count: 0, limit: 15 }) do %>
        <% end -%>
        <%= render Board::ColumnComponent.new(name: 'Production', items: { count: 2 }) do %>
          <%= render CardComponent.new(kind: :other, body: '[Setup] git') %>
          <%= render CardComponent.new(kind: :other, body: '[Setup] rails') %>
        <% end -%>
      </div>
    </div>
  </div>
</div>
