<div class="relative">
  <div class="absolute top-0 right-0 pt-1 pr-2">
    <%= render Ui::ContextMenuComponent.new %>
  </div>
  <div class="flex justify-center pt-2">
    <%= counter %>
  </div>
  <%= tag.div class: %w(pt-2 px-2) do %>
    <%= tag.div class: %w(w-full h-[3rem]) do %>
      <%= tag.h3 @title, class: %w(text-center font-bold) %>
      <% if @sub_titles.any? %>
        <%= tag.div class: %w(flex flex-row justify-around) do %>
          <% @sub_titles.each do |st| %>
            <%= tag.h4 st, class: %w(text-sm font-bold) %>
          <% end %>
        <% end -%>
      <% end -%>
    <% end -%>
  <% end -%>
</div>
