<div class="mt-2 px-8 flex flex-col gap-1">
  <%= tag.div class: %w(flex justify-between items-center) do %>
    <%= tag.div do %>
      <%= link_to kanban_path, class: %w(font-bold) do %>
        <%= tag.span 'Kanban' %>
      <% end -%>
    <% end -%>
  <% end -%>
  <%= tag.div class: %w(flex flex-col gap-2 pb-8) do %>
    <%= tag.h2 'Work flow', class: %w(font-bold text-xl) %>
    <%= render WorkFlow::StepSummaryListComponent.new(steps: @work_flow.steps, base_width: 15, space: 2) %>
    <%= tag.div class: %w(mx-auto) do %>
      <%= tag.turbo_frame id: 'step_form', src: edit_step_path(@work_flow.steps.first) do %>
        <%= render Ui::LoadingComponent.new %>
      <% end -%>
    <% end -%>
  <% end -%>
</div>
