<div class="mt-2 px-8 flex flex-col gap-1">
  <%= tag.div class: %w(flex justify-between items-center) do %>
    <%= tag.div do %>
      <%= link_to kanban_path, class: %w(font-bold text-sm) do %>
        <%= tag.span 'Kanban' %>
      <% end -%>
    <% end -%>
  <% end -%>
  <%= tag.div class: %w(flex flex-col gap-2 pb-8) do %>
    <%= tag.h2 'Work flow', class: %w(font-bold text-xl) %>
    <%= render Kanban::FrameComponent.new do %>
      <%= tag.div class: %w(bg-gray-200 rounded-lg p-2), style: "width: #{@work_flow.steps.size * 15 + (@work_flow.steps.size - 1 + 2) * 0.5 + (15 + 1 * 0.5)}rem" do %>
        <%= tag.div class: %w(flex flex-row gap-2 items-stretch) do %>
          <% @work_flow.steps.each do |step| %>
            <%= tag.div class: %w(flex-shrink-0 basis-[15rem]) do %>
              <%= tag.turbo_frame id: dom_id(step), src: step_path(step.id) do %>
                <%= render Ui::LoadingComponent.new %>
              <% end -%>
            <% end -%>
          <% end -%>
          <%= render Kanban::NewStepComponent.new %>
        <% end -%>
      <% end -%>
    <% end -%>
    <%= tag.div class: %w(mx-auto) do %>
      <%= render Ui::BoardColumnComponent.new(class: %w(p-3)) do %>
        <%= tag.div class: %w(flex gap-3) do %>
          <%= tag.turbo_frame id: 'step_form', src: edit_step_path(@work_flow.steps.first) do %>
            <%= render Ui::LoadingComponent.new %>
          <% end -%>
          <%= tag.div class: %w(pl-3 border-l border-gray-200) do %>
            <%= tag.turbo_frame id: 'step_arrival_rule_form', src: edit_step_arrival_rule_path(step_id: 1, id: 1) do %>
              <%= render Ui::LoadingComponent.new %>
            <% end -%>
          <% end -%>
        <% end -%>
      <% end -%>
    <% end -%>
  <% end -%>
</div>
