<div class="mt-10 px-8">
  <%= tag.div data: { controller: 'slide-over' } do %>
    <%= tag.div class: %w(w-full overflow-x-auto) do %>
      <div style="height:92vh">
        <div class="flex flex-row gap-2">
          <% @work_flow.steps.each do |step| %>
            <%= render Kanban::StepComponent.new(step: step, work_flow: @work_flow) %>
          <% end -%>
        </div>
      </div>
    <% end -%>
    <%= tag.div class: %w(slide-over), aria: { expanded: false }, data: { slide_over_target: 'container' } do %>
      <%= tag.div class: %w(slide-over__panel bg-white border-l border-gray-300 py-2 px-4) do %>
        <%= tag.div class: %w(text-right) do %>
          <%= render Ui::IconButtonComponent.new(data: { action: 'slide-over#close' }) do %>
            <%= render Ui::IconComponent.new(name: 'close') %>
          <% end -%>
        <% end -%>
        <%= tag.div class: %w(flex) do%>
          <%= tag.div class: %w(mx-auto) do %>
            <%= tag.turbo_frame id: 'item_detail' %>
          <% end -%>
        <% end -%>
      <% end -%>
    <% end -%>
  <% end -%>
</div>
