<div class="mt-2 px-8 flex flex-col gap-1">
  <%= tag.div class: %w(flex justify-between items-center) do %>
    <%= tag.div do %>
      <%= tag.h2 'Kanban', class: %w(font-bold) %>
    <% end -%>
    <%= tag.div do %>
      <%= link_to work_flow_path(@work_flow), class: %w(text-link text-link-sm) do %>
        <%= render Ui::IconComponent.new(name: :cog, size: 0.75) %>
        <%= tag.span 'Settings' %>
      <% end -%>
    <% end -%>
  <% end -%>
  <%= tag.div data: { controller: 'slide-over' } do %>
    <%= render Kanban::FrameComponent.new(data: { slide_over_target: 'base' }) do %>
      <%= tag.div class: %w(flex flex-row gap-2) do %>
        <% @work_flow.steps.each do |step| %>
          <%= render Kanban::StepComponent.new(step: step, work_flow: @work_flow) %>
        <% end -%>
      <% end -%>
    <% end -%>
    <%= render Ui::SlidingComponent.new(id: 'item_detail', width: 45) do |sc| %>
      <% sc.with_title do %>
        <%= tag.h3 'Item', class: %w(font-bold) %>
      <% end -%>
      <%= tag.turbo_frame id: 'item_detail' %>
    <% end -%>
  <% end -%>
</div>
